<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Table Example</title>
<link rel="stylesheet" href="{% static 'AppTwo/css/table_style.css' %}" />
</head>
<body>

	<h1>Holaaaa!!! Here is the example table of Access Record</h1>
	<div>
	  {% if access_records %}
	  <table>
	    <thead>
	      <th>Name</th>
	      <th>Date Accessed</th>
	    </thead>
	      {% for acc in access_records %}
	        <tr>
		  <td>{{ acc.webpage }}</td>
		  <td>{{ acc.date }}</td>
		</tr>
	      {% endfor %}
	  </table>
	  {% else %}
	    <p>NO ACCESS RECORDS TO SHOW</p>
	  {% endif %}
	</div>

</body>
</html>
